# Ignore everything
*

# Except these files
!.gitignore
!*.java
!*.md
!*.html
!*.css

# ...even if they are in subdirectories
# I found how to do this at http://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files?rq=1
!*/

# Exclude these for now
bin/
src/easy_challenges/
src/quick_challenges/
src/unit_tests/
.metadata
.settings
RemoteSystemsTempFiles
.DS_Store